@import '../../stylesheets/all';

.btn-group {
  display:flex;
  width: 50%;
}

.button {
  display:block;
  padding: 12px 14px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 50%;

  i {
    color: $blue;
    font-size:15px;
    vertical-align: middle;
  }
  &:hover {
    background-color: $blue;
    @include animate(.2s);
    i {
      color: #fff;
    }
  }

  &-edit {

    border: 1px solid $blue;
    margin:0 10px;
  }
  &-delete {
    border: 1px solid $blue;
    //background-color: #f44336;
  }
}
