@import '../../stylesheets/all';

.mapWrapper {
  height: 500px;
  width: 100%;
}

form {
  display:flex;
  margin-bottom: 30px;
  .form-group {
    input {
      height: 20px;
      border: 1px solid #000;
      border-radius: 0;
      margin-right: 20px;
      padding: 10px;
      font-size: 15px;
    }
  }


  .submit-btn {
    margin-left: 30px;
    width: 150px;
    font-weight: bold;
    height: 40px;
    text-align: center;
    background: $blue;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      @include animate(.2s);
      opacity: .7;
    }
  }
}
