@import '../../stylesheets/all';


/*Addresses table style*/
#addresses {

  border-collapse: collapse;
  width: 100%;

  td, th {
    border:1px solid #ddd;
    background: #fff;
  }
  th {
    padding: 10px;
  }
  td {
    padding:0;
  }
  .btn-group {
    border:none;
    width: 20%;
  }
  .cell {
    span {
      width: 100%;
      height: 100%;
      font-size: 15px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 10px;
    }
    input {
      width: 100%;
      height: 100%;
      padding: 10px;
      margin: 0px;
      border:none;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 15px;
    }
  }


  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $blue;
    color: white;
  }
}

.download-csv {
  width: 150px;
  height: 30px;
  background-color:$blue;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin:20px 0;
  &:hover {
    opacity: .7;
    @include animate(.2s);
  }
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
/*End Addresses table style*/

