@import '../../stylesheets/all';

.container {
  width: 90%;
  margin: 0 auto;

  .heading {
    h1 {
      @include FontMonseratBold(30px);
    }
  }
  .download {
    margin-top: 30px;
  }
  .btn-general {
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

/*Addresses table style*/
.address-table {
  clear:both;

  table {

    border-collapse: collapse;
    width: 100%;
    @include FontMonserat(15px);


    td, th {
      border:none;
      background: #fff;
    }
    th {
      padding: 10px;
    }
    tr {
    }
    td {
      border-bottom: 1px solid #f2f2f2;
    }
    .cell {
      padding: 10px;

      span {
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 15px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        padding: 10px;
      }
      input {
        width: 100%;
        height: 50px;
        margin: 0px;
        padding:0;
        @include FontMonserat(15px);
        border:none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        font-size: 15px;
      }
    }


    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $blue;
      color: white;
    }
  }
}
/*End Addresses table style*/

#btn-group {
  display:flex;
  width: 60%;
  background: transparent;
}

.button {
  width: 100px;
  background-color: transparent;
  border: 1px solid $blue;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: $blue;
  padding: 12px 14px;
  outline:none;

  &:hover {
    background: $blue;
    color: #fff;
    @include animate(.2s);
  }
  &-save {
    margin:0 10px;
  }
  &-cancel {

  }
}

.button-circle {
  display:block;
  padding: 12px 14px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 50%;
  border: 1px solid $blue;

  i {
    color: $blue;
    font-size:15px;
    vertical-align: middle;
  }
  &:hover {
    background-color: $blue;
    @include animate(.2s);
    i {
      color: #fff;
    }
  }
  &-edit {

    margin:0 10px;
  }
}

//Repsonsive
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
  }
  .mapWrapper {
    float:none;
    width: 100%;
  }
  form {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  form .form-group {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
  }
  form .form-group input {
    width: 80%;
  }
  form .btn-general {
    margin-top:0;
  }
  #btn-group {
    width: 100%;
  }
  .table-wrapper {
    overflow-x: auto;
  }
  .address-table table, .address-table table .cell input {
    font-size :13px;
  }
  .button {
    width: 60px;
  }
}
@media screen and (max-width: 640px) {
  form .form-group input {
    width: 90%;
  }
}




